<%= form_with(model: budget, local: true) do |form| %>
  <% if budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget.errors.count, "error impide", "errores impiden") %> que este presupuesto sea enviado:</h2>

      <ul>
      <% budget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :nombre, class: "col-sm-5 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :name, id: :budget_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :dirección, class: "col-sm-5 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :address, id: :budget_address, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :email, class: "col-sm-5 col-form-label" %>
    <div class="col-sm-10">
      <%= form.email_field :email, id: :budget_email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :Teléfono, class: "col-sm-5 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :phone, id: :budget_phone, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :Observaciones, class: "col-sm-5 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_area :observations, id: :budget_observations, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :Día_de_trabajo, class: "col-sm-5 col-form-label" %>
    <div class="col-sm-10">
      <%= form.datetime_local_field :workday, id: :budget_workday, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%=form.submit(options={class: "btn btn-primary"}) %>
  </div>
<% end %>
