<%= form_with(model: budget, local: true) do |form| %>
  <% if budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
      <% budget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :budget_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :budget_address %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :budget_email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :budget_phone %>
  </div>

  <div class="field">
    <%= form.label :observations %>
    <%= form.text_area :observations, id: :budget_observations %>
  </div>

  <div class="field">
    <%= form.label :workday %>
    <%= form.datetime_select :workday, id: :budget_workday %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
