<!DOCTYPE html>
<html>
  <head>
    <title>YoNoTrabajo</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Indie+Flower">
    <style>
      body {
        font-family: 'Indie Flower', serif;
        font-size: 48px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <%= link_to "Inicio", root_path, class:"btn btn-light" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <div>
              <li class="nav-item">
               <%= link_to "Presupuesto", new_budget_path, class: "btn btn-success" %>
              </li>
            </div>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <%= link_to "Contacto", contacto_path, class: "btn btn-success" %>
          </form>
        </div>
    </nav>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
